<html>
 <head>
  <title>Ansible Application</title>
 </head>
 <body>
<?php 
 Print "Hello, World! I am a web server configured using Ansible and I am : ";
 echo exec('hostname');
 Print  "</BR>";
?>
</body>
</html>

